* {
  box-sizing: border-box;
  font-family: "Ubuntu", "Sans Serif";
  margin: 0%;
  padding: 0%;
}
body {
  background: #eeeeee;
}

.main {
  width: 95%;
  text-align: center;
  margin: auto;
  margin-top: 2.5%;
}
.title {
  font-weight: normal;
  font-size: 1.75em;
}

div .sections {
  background: #ffe1a9;
  border: 2px solid black;
}
div .sections h2 {
  color: #ffffff;
  font-weight: normal;
  font-size: 1.25em;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  width: 30%;
  position: relative;
  left: 70%;
  margin-top: auto;
  margin-bottom: auto;
}
p {
  padding: 10px;
  text-align: justify;
  margin-top: auto;
  height: 180px;
  font-size: 16px;
}

.emerald {
  background: #279925;
}
.ruby {
  background: #b31d1d;
}
.sapphire {
  background: #273693;
}

/*Desktop devices*/
@media (min-width: 992px) {
  .sections {
    float: left;
    margin: 2.5% auto;
  }
  .a, .b, .c {
    width: 32%;
    margin-left: 0.66%;
    margin-right: 0.66%;
  }
}
/*Tablet devices*/
@media (min-width: 768px) and (max-width: 991px){
  .sections {
    float: left;
    margin: 2.5% auto;
  }
  .a, .b {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .c {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
/*Mobile devices*/
@media (max-width: 767px) {
  .sections {
    float: left;
    margin: 2.5% auto;
  }
  .a, .b, .c {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
